.app {
    height: 100vh;
    display: flex;
    background-color: #607D8B;
    /* background-color: #023030fa; */
    color: white;
}

.main {
    width: 75%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230), url('./assets/bg.jpg') center;
    display: flex;
    flex-direction: column;
}

.top {
    height: 50%;
    position: relative;
}

.bottom {
    height: 50%;
}

.timer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    bottom: 10px;
    left: 80px;


}

.pyramid {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moneyList {
    list-style: none;
    width: 100%;
    padding: 20px;
}

.moneyListItem {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.moneyListItem.active {
    background-color: teal;
}

.moneyListItemNumber {
    font-size: 18px;
    font-weight: 100;
    width: 30%;
}

.moneyListItemAmount {
    font-size: 20px;
    font-weight: 300;
}

.endText {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.restartBtn {
    margin-top: 4px;
    padding: 6px;
    font-size: 18px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;

}

.restartBtn:hover {
    background-color: tomato;
    color: white;
}

@media screen and (max-width: 745px) {
    .main {
        width: 65%;
    }

    .pyramid {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .moneyList {
        padding: 0;
    }

    .moneyListItem {
        padding: 3px;
    }

    .moneyListItemAmount {
        font-size: 15px;
    }

    .endText h1 {
        font-size: 16px;

    }

}

@media screen and (max-width: 445px) {
    .top {
        height: 30%;
    }
}